.swipeButtons {
  position: fixed;
  bottom: 12vh;
  display: flex;
  width: 100%;
  justify-content: center;
}

.swipeButtons .MuiIconButton-root {
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.1) !important;
}

.swipeButton_repeat {
  color: #f5b748;
}

.swipeButton_left {
  color: #ec5e6f;
}

.swipeButton_right {
  color: #76e2b3;
}

.swipeButton_fav {
  color: #915dd1;
}
